.sales-header {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}
.sales-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.sales-cashback-message {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
}
