.header-container {
    background-color: #fff;
    .header {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        display: flex;
        padding: 24px 0;
        background-color: #fff;
        i{
            position: absolute;
            top: 35px;
            right: 16px;
            font-size: 32px;
            color: #3f51b5;
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 600px) {
    .header-container {
        .header {
            margin-left: 50px;
        }
    }
  }