.login {
  display: flex;
  justify-content: center;
  .login-form {
    border-radius: 8px;
    box-shadow: 5px 4px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    padding: 24px;
    .login-body {
      margin: 24px 0;
      .email,
      .senha {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .form-footer {
      width: 100%;
      display: flex;
    }
  }
}
