.login {
  display: flex;
  justify-content: center;
  .login-form {
    border-radius: 8px;
    border: solid 1px #f0f0f0;
    background-color: #ffffff;
    padding: 24px;
    .form-body {
      width: 100%;
      display: flex;
      .email, .senha{
        width: 100%;
        margin-bottom: 10px;
      }

    }
    .form-footer {  
      width: 100%;
      display: flex;
    }
  }
}
