@import './assets/fonts/icons/styles.css';

body,
html {
  overflow-x: hidden;
  margin: 0;
}

.App {
  .app-content {
    position: absolute;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    .app-content {
      position: relative;
      margin: 0;
      padding-bottom: 6rem;
      min-height: 100%;
    }
  }

  .makeStyles-paper-3 {
    max-width: 280px;
  }
}
